* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 55%;
  height: 55%;
  display: flex;
  flex-direction: column;
  background-color: #282323;
}

p {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 850;
  padding: 10px;
  color: #fff;
}

.java {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 52%;
  max-width: 52%;
  max-height: 50%;
  height: 50%;
  border: 2px solid #fff;
  background-color: #f7f6f6;
  border-radius: 8px;
  margin: 0 auto;
}

form {
  padding: 16px;
  background-color: #f9dca6;
  border: 2px solid #fff;
}

label {
  color: #353030;
  font-family: sans-serif;
  width: 48%;
}

#number {
  outline: none;
  border: none;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
}

#submit {
  font-family: sans-serif;
  margin: 0 auto;
  display: flex;
  outline: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  background-color: #7fffd4;
  border: 2px solid #7fffd4;
  border-radius: 10px;
  padding: 10px;
}

#showme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  background-color: #f5deb3;
  height: 126px;
  font-family: sans-serif;
  font-weight: 600px;
  font-size: 14px;
}
